<div class="container">
  <div class="card skill-section">
    <div class="card-header">
      <div class="skill-title">
        <h4>Contact me</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 justify-content-center">
          <h6>
            <fa-icon [icon]="faPhone" id="phone"></fa-icon>
            +1(702)224-4426
          </h6>
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <a href="mailto:ankozlova29@gmail.com" id="email">
            ankozlova29@gmail.com
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card skill-section">
    <div class="card-header">
      <div class="skill-title">
        <h4>Links to personal pages</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 justify-content-center">
          <ul>
            <li>
              <a
                href="https://www.linkedin.com/in/anastasia-kozlova-151a4314a/"
              >
                LinkedIn
              </a>
            </li>
            <li>
              <a
                href="/assets/Resume_Anastasia Kozlova_LAST.pdf"
                class="my-resume"
                target="_blank"
                >Resume</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card skill-section">
    <div class="card-header">
      <div class="skill-title">
        <h4>Links to the projects I contributed to</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 justify-content-center">
          <ul>
            <li>
              <a
                href="https://www.reuters.com/article/us-russia-putin-mercedes/daimler-opens-mercedes-benz-plant-in-moscow-region-idUSKCN1RF216"
              >
                Construction of the new Mercedes-plant in Russia
              </a>
            </li>
            <li>
              <a
                href="https://mashable.com/2017/04/21/mercedes-benz-alexa-google-assistant/#NN_.hJKqUOqy"
              >
                Mercedes Skill for Alexa and Google Assistant
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
