.my-photo {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.my-bio {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font: normal;
  font-size-adjust: unset;
  border-width: 10px;
  border-bottom-color: black;
}

// .date-uni{
//   background-color: #d8efaa;
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//   font: normal;
//   font-size-adjust: unset;

// }

.uni-logo {
  margin-bottom: 70px;
  width: 60%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  margin-top: 180px;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font: normal;
  width: 50px;
  margin: 70px;
  font-size: 20px;
}

.col-sm-12 {
  margin-top: 180px;
  background-color: #d8efaa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font: normal;
  font-size-adjust: unset;
  text-align: center;
  font-size: 70%;
}

.zeile {
  border-top: 3px solid black;
}

.btn-primary {
  margin-top: 50px;
  background-color: #559ee6;
  color: black;
}

.col-12 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.05),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
