.skill-section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.skill-title {
  text-align: center;
}

.skill-subtitle {
  text-align: center;
}

.sql-vue-icon {
  width: 120px;
  margin-top: 30px;
}

.mercedes-icon {
  width: 180px;
  margin-top: 30px;
}

#confluence {
  width: 70%;
}

#dialogflow {
}

.col-10 {
  margin-top: 30px;
}

.small-icon {
  width: 150px;
  margin-top: 20px;
}

.js-icon {
  width: 110px;
  margin-top: 20px;
}

.h1,
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.05),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.skill-section {
  margin-bottom: 20px;
}
