<div class="container">
  <div class="card skill-section">
    <div class="card-header">
      <div class="skill-title">
        <h1>Computer skills</h1>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-6 justify-content-center text-center">
          <h3 class="skill-subtitle">Programming languages</h3>
          <img
            class="col-4 small-icon"
            src="assets/5-2-python-logo-png-image.png"
            alt=""
            placement="top"
            ngbTooltip="competent in Python"
          />
          <img
            class="col-4 sql-vue-icon"
            src="assets/675172-data_database_sql_query-512.png"
            alt=""
            placement="top"
            ngbTooltip="some knowledge of SQL and relational databases"
          />
          <img
            class="col-4 mercedes-icon"
            src="assets/java.jpg"
            alt=""
            placement="top"
            ngbTooltip="familiar with Java"
          />

          <img
            class="col-4 js-icon"
            src="assets/js.png"
            alt=""
            placement="top"
            ngbTooltip="proficient in JavaScript (over one year experince)"
          />

          <img
            class="col-4 mercedes-icon"
            src="assets/nodejs.png"
            alt=""
            placement="top"
            ngbTooltip="proficient with Node.js (over one year experince)"
          />

          <img
            class="col-4 sql-vue-icon"
            src="assets/vuejs.jpg"
            alt=""
            placement="top"
            ngbTooltip="proficient with Vue.js"
          />

          <img
            class="col-4 small-icon"
            src="assets/haskell-logo.jpg"
            alt=""
            placement="top"
            ngbTooltip="proficient in Haskell"
          />
        </div>
        <div class="col-6 justify-content-center text-center">
          <h3 class="skill-subtitle">Tools</h3>

          <div class="col-12">
            <img
              class="col-4 small-icon"
              src="assets/AWS.png"
              alt=""
              placement="top"
              ngbTooltip="some knowledge of AWS"
            />
            <img
              class="col-4 sql-vue-icon"
              src="assets/jira-282222.png"
              alt=""
              placement="top"
              ngbTooltip="expert at Jira (over one year experience)"
            />

            <img
              class="col-4 sql-vue-icon"
              src="assets/postgresql_logo.png"
              alt=""
              placement="top"
              ngbTooltip="some knowledge of PostgreSQL"
            />
          </div>

          <div class="col-12">
            <img
              id="confluence"
              class="col-4 js-icon"
              src="assets/confluence.png"
              alt=""
              placement="top"
              ngbTooltip="expert at Confluence"
            />
            <img
              class="col-4 sql-vue-icon"
              src="assets/jenkins-logo.png"
              alt=""
              placement="top"
              ngbTooltip="some knowledge of Jenkins"
            />
            <img
              class="col-4 sql-vue-icon"
              src="assets/images.png"
              alt=""
              placement="top"
              ngbTooltip="proficient with Git (over one year experience)"
            />
          </div>
          <img
            class="col-4"
            id="dialogflow"
            src="assets/dialogflow.png"
            alt=""
            placement="top"
            ngbTooltip="proficient with Dialogflow (over one year experience)"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card skill-section">
    <div class="card-header">
      <div class="skill-title">
        <h1>Other skills</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6 justify-content-center">
          <h3 class="skill-subtitle">Languages</h3>
          <ul>
            <li>
              English - fluent
            </li>
            <li>
              German - fluent
            </li>
            <li>
              Russian - fluent
            </li>
          </ul>
        </div>
        <div class="col-6 justify-content-center">
          <h3 class="skill-subtitle">Methods & Certification</h3>
          <ul>
            <li>
              Scrum (Certified Scrum Master)
            </li>
            <li>
              Kanban
            </li>
            <li>
              Waterfall
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
