<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4 class="modal-title" id="modal-basic-title">
        <img
          class="mercedes-icon"
          src="assets/mercedes-8-202855.png"
          alt="Mercedes Icon"
        />
        Mercedes-Benz Research & Development North America
      </h4>
    </div>
    <div class="card-subtitle">
      <h6>Sunnyvale, United States of America</h6>
      <h6>Mar 2019 – Mar 2020</h6>
      <h6>Software development in Speech & Digital Assistants Team</h6>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>
        Development and debugging of Digital Assistants integration (Alexa,
        Google Assistant) into Mercedes ecosystem using JavaScript and different
        frameworks, e.g. node.js
      </li>
      <li>
        Communicated effectively with external partners at Google and Amazon to
        build software requirement specifications
      </li>
      <li>
        Led Daily, Sprint Planning and Retrospective in the Scrum Master role
      </li>
      <li>
        Tested software in both local and cloud-based environments using AWS,
        GCP Dialogflow and other tools
      </li>
      <li>Tested digital assistants in English and German languages</li>
      <li>
        Developed and integrated a domain into "HeyMercedes" voice assistant
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4 class="modal-title" id="modal-basic-title">
        <img
          class="mercedes-icon"
          src="assets/mercedes-8-202855.png"
          alt="Mercedes Icon"
        />
        Daimler AG
      </h4>
    </div>
    <div class="card-subtitle">
      <h6>Berlin, Germany</h6>
      <h6>Feb 2018 - Feb 2019</h6>
      <h6>Application management support: CRM & Digital Commerce</h6>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>
        Supported Daimler internal application and release management
      </li>
      <li>
        Tracked and managed outstanding IT-security issues within the team
      </li>
      <li>
        Led weekly meetings and calls to gather client needs and determine how
        those needs could be met in both an innovative and efficient way
      </li>
      <li>
        Created and finalized use cases, business requirement documentation
        (BRD) and Service-Level-Agreements (SLA) for external suppliers
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4 class="modal-title" id="modal-basic-title">
        <img
          class="mercedes-icon"
          src="assets/mercedes-8-202855.png"
          alt="Mercedes Icon"
        />
        Daimler AG
      </h4>
    </div>

    <div class="card-subtitle">
      <h6>Sindelfingen, Germany</h6>
      <h6>Aug 2017 – Feb 2018</h6>
      <h6>IT-Management for international projects</h6>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>
        Supported IT management during construction of the new Daimler plant
        located in Moscow, Russia
      </li>
      <li>
        Created a high level workflow of IT-landscape interface documentation,
        created breakdown structures, worked with the risk register and provided
        impact analysis
      </li>
      <li>
        Was a cross-functional liason between IT and other Daimler departments
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4 class="modal-title" id="modal-basic-title">
        <img
          class="mercedes-icon"
          src="assets/free_uni.png"
          alt="Mercedes Icon"
        />
        Freie Universitat Berlin
      </h4>
    </div>
    <div class="card-subtitle">
      <h6>Berlin, Germany</h6>
      <h6>Aug 2016 – Aug 2017</h6>
      <h6>Student Research Assistant</h6>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>
        Provided assistance with lectures and seminars; in particular, conducted
        research activities, communicated with students, and managed web content
        for the internal learning platform
      </li>
    </ul>
  </div>
</div>
